.navbar{
    flex: 1;
}

li{
    list-style: none;
    cursor: pointer;
    padding: 0.5rem;
}

/* li:hover{
    background-color: rgb(221, 218, 218);
    width:90%;
    color: blue;
    border-radius: 5px;
    border:none
} */

.listitems{
    height: 100%;
    display:flex;
    align-items:center;
    margin-left:10px;
}

/* .listitems:hover{
    background-color: rgb(221, 218, 218);
} */