.post{
    flex:4;
}

.postcontainer{
    background-color: white;
    max-width: 40rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius:20px ;
}

.imagecontainer{
    width: 100%;
    height: 100%;
    max-height: 30rem;
    background-size: cover;
}